/* You can add global styles to this file, and also import other style files */
// Required for bs4
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: --app-background;
}

.border-light {
  border-color: --light !important;
  border: 1px solid;
  border-radius: 0.25rem;
}

.border-success {
  border-color: --success !important;
  border: 1px solid;
  border-radius: 0.25rem;
}

.border-info {
  border-color: --info !important;
  border: 1px solid;
  border-radius: 0.25rem;
}

.border-warning {
  border-color: --warning !important;
  border: 1px solid;
  border-radius: 0.25rem;
}

.full-height {
  height: calc(100vh - 75px);
}

.background-dark {
  background-color: #303030;
}

.background-secondary {
  background-color: #444;
}

.background-info {
  background-color: #3498db;
}

.text-center {
  text-align: center;
}
