<div class="ml-4">
  <div class="row">
    <div class="col-2 border-success">
      <div class="list-group list-group-action">
        <div class="row">
          <span
            class="list-group-item list-group-item-action"
            (click)="this.setCreate()"
          >
            Create Employee
          </span>
        </div>
      </div>
      <app-employee-list
        (selected)="setActive($event)"
        [employees]="this.employees"
      ></app-employee-list>
    </div>
    <div class="col-8">
      <app-employee-create *ngIf="uiState === 'create'"></app-employee-create>
      <app-employee-detail
        *ngIf="uiState === 'detail'"
        [employee]="this.employee"
      ></app-employee-detail>
    </div>
  </div>
</div>
