<h1>{{ title }}</h1>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="'employees'">
    <a ngbNavLink>Employees</a>
    <ng-template ngbNavContent>
      <app-employee></app-employee>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Payroll</a>
    <ng-template ngbNavContent>
      <app-payroll></app-payroll>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- <app-employee-payroll-list></app-employee-payroll-list> -->
<router-outlet></router-outlet>
