<div class="row">
  <section class="d-flex flex-column px-3">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="input-group mb-1 col-4">
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            placeholder="First Name"
            aria-label="Users First Name"
          />
        </div>
        <div class="input-group mb-1 col-4">
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            placeholder="Last Name"
            aria-label="Users Last Name"
          />
        </div>
        <div class="input-group mb-1 col-4">
          <input
            type="text"
            formControlName="email"
            class="form-control"
            placeholder="User Email"
            aria-label="Users Email Address"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-1 col-4">
          <input
            type="text"
            formControlName="phone"
            class="form-control"
            placeholder="Phone"
            aria-label="Users Phone Number"
          />
        </div>
        <div class="input-group mb-1 col-4">
          <input
            formControlName="department"
            type="text"
            class="form-control"
            placeholder="Department"
            aria-label="Users Department"
          />
        </div>
        <div class="input-group mb-1 col-4">
          <input
            type="text"
            formControlName="title"
            class="form-control"
            placeholder="Title"
            aria-label="Users Title"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-1 col-4">
          <button class="btn btn-outline-info table-margin" (click)="create()"
            >Create</button
          >
        </div>
      </div>
    </form>
  </section>
</div>
