<!-- <p>employee-payroll-list works!</p> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Payroll Period</th>
      <th scope="col">Gross Payroll</th>
      <th scope="col">Risk</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employeePayroll of employeePayrolls">
      <th scope="row">{{ employeePayroll.id }}</th>
      <td>
        {{ employeePayroll.firstName + ' ' + employeePayroll.lastName }}
      </td>
      <td>{{ employeePayroll.payrollPeriod | number }}</td>
      <td>{{ employeePayroll.grossPayroll | number }}</td>
      <td>
        <app-risk-list risk="{{ employeePayroll.risk.displayName }}">
        </app-risk-list>
      </td>
      <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
    </tr>
  </tbody>
</table>
