$app-background: #000;
$info: #217dbb;
$light: #fff;
$success: #008966;
$warning: #f39c12;

$variables: (
  app-background: $app-background,
  info: $info,
  light: $light,
  success: $success,
  warning: $warning,
);
