<div>
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark border-light">
      <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
      <div class="collapse navbar-collapse">
        <ul ngbNav [activeId]="fragment | async" class="navbar-nav">
          <li [ngbNavItem]="link.path" *ngFor="let link of links">
            <a ngbNavLink [routerLink]="[link.path]">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </section>
</div>
