<div>
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark border-light">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <div class="collapse navbar-collapse">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navbar-nav">
          <li [ngbNavItem]="'employees'">
            <a ngbNavLink>Employees</a>
            <ng-template ngbNavContent>
              <app-employee></app-employee>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Payroll</a>
            <ng-template ngbNavContent>
              <app-payroll></app-payroll>
            </ng-template>
          </li>
          <li [ngbNavItem]="'about'">
            <a ngbNavLink>About</a>
            <ng-template ngbNavContent>
              <app-about></app-about>
            </ng-template>
          </li>
        </ul>
      </div>
    </nav>
    <div [ngbNavOutlet]="nav"></div>
    <router-outlet></router-outlet>
  </section>
</div>
