<ng-container *ngIf="employee | async; let employee" class="border-info">
  <div class="row mt-2 mb-2">
    <div class="col-2">
      <h5>Employee Details</h5>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <label>First Name: </label>
      <input
        class="d-block form-control"
        type="text"
        [value]="employee.firstName"
      />
    </div>
    <div class="col-2">
      <label>Last Name: </label>
      <input
        class="d-block form-control"
        type="text"
        [value]="employee.lastName"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <label>Email: </label>
      <input
        class="d-block form-control"
        type="email"
        readonly=""
        [value]="employee.email"
      />
    </div>
    <div class="col-2">
      <label>Title: </label>
      <input
        class="d-block form-control"
        type="text"
        [value]="employee.title"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <label>Department: </label>
      <input
        class="d-block form-control"
        type="text"
        [value]="employee.department"
      />
    </div>
    <div class="col-2">
      <label>Start Date: </label>
      <input
        class="d-block form-control"
        type="text"
        [value]="employee.employmentStartedOn | date"
      />
    </div>
  </div>
</ng-container>
