<div class="text-light">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <h5>Enter your user information:</h5>
    </div>
  </div>
  <form [formGroup]="filterForm" (submit)="create()">
    <div class="row mb-3">
      <div class="col-3">
        <label>First Name:</label>
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
      </div>
      <div class="col-3">
        <label>Last Name:</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label>Email:</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="User Email"
        />
      </div>
      <div class="col-3">
        <label>Phone: </label>
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          placeholder="Phone"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3 mt-4 pt-2">
        <button class="btn btn-outline-info" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
