<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Employement Started On</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <th scope="row">{{ employee.id }}</th>
      <td> {{ employee.firstName + ' ' + employee.lastName }} </td>
      <td>{{ employee.title }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.employmentStartedOn | date }}</td>
      <td
        ><button class="btn btn-outline-primary" (click)="remove(employee.id)"
          >Remove</button
        ></td
      >
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class="btn btn-outline-primary">Add</button></th>
    </tr>
  </tfoot>
</table>
