<table class="table table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Employement Started On</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <td>{{ employee.id }}</td>
      <td> {{ employee.firstName + ' ' + employee.lastName }} </td>
      <td>{{ employee.title }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.employmentStartedOn | date }}</td>
      <td
        ><button
          class="btn btn-outline-warning btn-sm"
          (click)="remove(employee.id)"
          >Remove</button
        ></td
      >
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class="btn btn-outline-info">Add</button></th>
    </tr>
  </tfoot>
</table>
