<div class="row mt-2 mb-2">
  <div class="col-2">
    <h5>Enter new employee details</h5>
  </div>
</div>
<form [formGroup]="filterForm" (submit)="create()">
  <div class="row mb-3">
    <div class="col-3">
      <label>First Name: </label>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        placeholder="First Name"
        aria-label="Users First Name"
      />
    </div>
    <div class="col-3">
      <label>Last Name: </label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        placeholder="Last Name"
        aria-label="Users Last Name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <label>Email: </label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="User Email"
        aria-label="Users Email Address"
      />
    </div>
    <div class="col-3">
      <label>Phone: </label>
      <input
        type="text"
        formControlName="phone"
        class="form-control"
        placeholder="Phone"
        aria-label="Users Phone Number"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <label>Department: </label>
      <select class="custom-select" formControlName="department">
        <option value="" disabled>Choose a department</option>
        <option *ngFor="let department of departments" [ngValue]="department">{{
          department
        }}</option>
      </select>
    </div>
    <div class="col-3">
      <label>Title: </label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        placeholder="Title"
        aria-label="Users Title"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <label>Start Date: </label>
      <input
        type="date"
        formControlName="employmentStartedOn"
        class="form-control"
        placeholder="04/26/2020"
        aria-label="Users Start Date Of Employment"
      />
    </div>
    <div class="col-3 mt-4 pt-2">
      <button class="btn btn-outline-info" type="submit">Create </button>
    </div>
  </div>
</form>
