<div>
  <section>
    <span>Enter payroll details:</span>
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="mb-1 col-4">
          <select class="custom-select" formControlName="department">
            <option value="" disabled>Choose an employee</option>
            <option
              *ngFor="let employee of employees | async"
              [ngValue]="employee.id"
            >
              {{ employee.firstName }} {{ employee.lastName }}
            </option>
          </select>
        </div>
        <div class="mb-1 col-4">
          <input
            type="date"
            formControlName="checkDate"
            class="form-control"
            placeholder="04/26/2020"
            aria-label="Payroll Check Date"
          />
        </div>
        <div class="mb-1 col-4">
          <input
            type="text"
            formControlName="grossPayroll"
            class="form-control"
            placeholder="$0.00"
            aria-label="Payroll Gross Amount"
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-1 col-4">
          <button class="btn btn-outline-info table-margin" (click)="create()">
            Create
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
