<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Employment Started On</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [ngClass]="{
        'table-secondary': employee.status === 'Disabled'
      }"
      *ngFor="let employee of employees | async"
    >
      <th scope="row"> {{ employee.firstName + ' ' + employee.lastName }} </th>
      <td>{{ employee.title }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.employmentStartedOn | date }}</td>
      <td>
        <fa-icon
          *ngIf="employee.status === 'Enabled'"
          [icon]="faSmileBeam"
        ></fa-icon>
        <fa-icon
          *ngIf="employee.status === 'Disabled'"
          [icon]="faSkull"
        ></fa-icon>
      </td>
      <td>
        <button
          [ngClass]="'btn btn-outline-warning btn-sm'"
          (click)="updateEmployeeStatus(employee)"
        >
          <span *ngIf="employee.status === 'Disabled'">Enable</span>
          <span *ngIf="employee.status === 'Enabled'">Disable</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
